/* Header.module.css */

.header {
    background-color: #c8ff0096;
    color: #757575;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  
  .logo {
    height: 50px;
  }
  
  .nav {
    color: #757575;
  }
  
  .menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #757575;
    text-decoration: none;
  }
  
  .menuItem {
    color: #c8ff0096;
    position: relative;
    margin-right: 1rem;
    text-decoration: none;
  }
  
  .submenu {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    background-color: #c8ff0096;
    text-decoration: none;
  }
  
  .menuItem:hover .submenu {
    display: block;
    color: #c8ff0096;
  }
  
  .buttons {
    display: flex;
    gap: 1rem;
  }
  
  .loginButton, .signUpButton {
    color: #252525;
    background-color: #c8ff0096;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
  }
  