/* Page.module.css */

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .title {
    font-size: 5em;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .button {
    color: #252525;
    background-color: #c8ff0096;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #757575;
    border-radius: 5px;
    text-align: center;
    width: 100%;
  }
  
  .button:hover {
    background-color: #757575;
    color: #212121;
  }
  
  .breakLine {
    width: 100%;
    height: 1px;
    background-color: #757575;
    margin-bottom: 20px;
  }
  
  .content {
    width: 100%;
    max-width: 1440px;
  }

  .logo {
    max-width: 100px;
    margin-bottom: 20px;
  }
  
  .section {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 2rem auto;
  }

  .container {
    flex: 1;
    text-align: center;
  }

  .smallHeader{
    flex: 1;
    text-align: left;
  }

.sectionItem {
    text-align: left;
    margin-right: 2rem;
  }
  
  .image {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  
  .viewAll {
    display: block;
    text-align: right;
    margin: 2rem auto;
  }
  .quoteSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* adjust this value as needed */
  }
  
  .quote {
    flex: 1 1 50%; /* adjust these values as needed */
    font-size: 1.5em; /* adjust this value as needed */
    text-align: center;
  }
  
  .imageContainer {
    flex: 1 1 50%; /* adjust these values as needed */
  }
  
  .carrerImage {
    max-width: 100%;
    height: auto;
  }
  