 
.researchOverview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  padding: 0 20px;
}

.quote {
  flex: 1;
  font-size: 5.5em;
  text-align: right;
  padding-right: 100px;
}

.quote2 {
  flex: 1;
  font-size: 5.5em;
  text-align: left;
  padding-right: 20px;
}

.paragraphContainer {
  flex: 2;
  font-size: 2.0em;
  padding-left: 20px;
}

.paragraph {
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button {
  color: #252525;
  background-color: #c8ff0096;
  text-decoration: none;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #757575;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.button:hover {
  background-color: #444;
}

.title {
  text-align: center;
}

/* Mobile-friendly adaptations */
@media (max-width: 768px) {
  .quote, .quote2 {
      font-size: 3em; /* Reduce font size for mobile */
      padding-right: 20px; /* Reduce padding */
  }

  .paragraphContainer {
      font-size: 1.5em; /* Reduce font size for mobile */
      padding-left: 10px; /* Reduce padding */
  }

  .buttons {
      flex-direction: column; /* Stack buttons vertically */
  }

  .button {
      margin: 5px 0; /* Add some vertical margin for stacked buttons */
  }
}
