.preload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
  }
  
  .preload-video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  
  .enter-button {
    position: relative;
    z-index: 1;
    font-size: 2em;
    padding: 10px 20px;
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
    cursor: pointer;
  }
  /* Mobile-friendly adaptations */
@media (max-width: 768px) {
  .enter-button {
      font-size: 1.5em; /* Reduce font size for mobile */
      padding: 8px 16px; /* Adjust padding for mobile */
  }

  /* If the video doesn't look good or takes too much bandwidth on mobile, you can hide it */
  .preload-video {
      display: none;
  }
}