.quoteSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh; /* Adjust as needed to make section above the fold */
    padding: 20px;
  }
  
  .textContainer {
    width: 50%; /* Adjust as needed */
    text-align: left;
  }
  
  .paragraph {
    font-size: 4em; /* Adjust as needed */
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 1em; /* Adjust as needed */
    text-decoration: none;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #444;
  }
  
  .imageContainer {
    margin-top: 200px;
    width: 50%; /* Adjust as needed */
    font-size: 2em;
    text-align: left;
    line-height: 1.5;
  }

  .videoContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .videoContainer video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: no-repeat;
    background-size: cover;
  }
  .quoteSection2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  .quote2 {
    text-align: center;
    font-size: 3em;
  }
  .section3 {
    display: flex;
    justify-content: space-between;
}

.header3 {
    font-size: 2em;
    text-align: left;
    margin-left: 2em;
}

.bulletList {
    list-style: none;
    text-align: left;
    margin-top: 4em;
}

.bulletItem {
    margin-bottom: 1em;
    margin-right: 22em;
}

.bulletTitle {
    font-size: 1.5em;
    font-weight: bold;
}

.bulletDescription {
    margin-top: 0.5em;
}
.imageContainer2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    overflow: hidden; /* This will ensure the image does not spill over the div if it's too large */
    font-size: 2em;
    margin-top: 12em;
  }
  
  .fullWidthImage2 {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will ensure the image scales correctly to fill its container */
  }
  .threeImageSection {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .imageListItem {
    width: 33%;
    text-align: center;
  }
  
  .imageListItem img {
    width: 100%;
    height: auto;
  }
  
  .imageListItem ul {
    list-style-type: disc;
    text-align: left;
    padding-left: 20px;
  }
  
.table {
    width: 100%;
    max-width: 1440px;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: left;
  }
  
  .table th {
    background-color: #eee;
  }
  .sectionTable {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 2rem auto;
  }
  .smallHeaderTable {
    flex: 1;
    text-align: left;
  }
  .titleCareers {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .buttonsCareers {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .buttonCareers {
    color: #757575;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #757575;
    border-radius: 5px;
  }
  .sectionUpdates {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 2rem auto;
  }
  .sectionItemUpdates {
    text-align: left;
    margin-right: 2rem;
  }
  .imageUpdates {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .sectionBuilt  {
    width: 100%;
  }
  
  .headerBuilt  {
    text-align: left;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .largeImagesBuilt  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .imageContainerBuilt  {
    width: 45%; /* adjust as needed */
  }
  
  .largeImageBuilt  {
    width: 100%;
  }
  
  .imageCaptionBuilt  {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
  }
  
  .smallImagesBuilt {
    display: flex;
    justify-content: space-around;
  }
  
  .smallImageBuilt {
    width: 20%; /* adjusted width so 4 images can fit in one row */
    height: auto;
    cursor: pointer; /* changes the cursor to a hand when hovering over the images */
    margin: 1%; /* added margin for some spacing */
  }
  
    
  