.researchOverview {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  /* Adjust according to your needs */
    padding: 0 20px;
  }
  
  .quote {
    flex: 1;
    font-size: 5.5em;
    text-align: left;
    padding-right: 100px;
  }

  .quote2 {
    flex: 1;
    font-size: 5.5em;
    text-align: left;
    padding-right: 20px;
  }
  
  .section {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 2rem auto;
  }

  .container {
    flex: 1;
    text-align: center;
  }

  .smallHeader{
    flex: 1;
    text-align: left;
  }

.sectionItem {
    text-align: left;
    margin-right: 2rem;
  }
  
  .image {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  
  .viewAll {
    display: block;
    text-align: right;
    margin: 2rem auto;
  }
  .quoteSection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* adjust this value as needed */
  }
  .quote3 {
    flex: 1 1 50%; /* adjust these values as needed */
    font-size: 1.5em; /* adjust this value as needed */
    text-align: center;
  }
  
  
  .imageContainer {
    flex: 1 1 50%; /* adjust these values as needed */
  }
  
  .carrerImage {
    max-width: 100%;
    height: auto;
  }
  

  .paragraphContainer {
    flex: 2;
    font-size: 2.0em;
    padding-left: 20px;
  }
  
  .paragraph {
    margin-bottom: 20px;
    text-align: right;
  }
  
  .paragraph1 {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  
  .button {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #444;
  }

  .sectionBuilt  {
    width: 100%;
  }
  
  .headerBuilt  {
    text-align: left;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .largeImagesBuilt  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .imageContainerBuilt  {
    width: 45%; /* adjust as needed */
  }
  
  .largeImageBuilt  {
    width: 100%;
  }
  
  .imageCaptionBuilt  {
    text-align: center;
    font-size: 1.2em;
    margin-top: 10px;
  }
  
  .smallImagesBuilt {
    display: flex;
    justify-content: space-around;
  }
  
  .smallImageBuilt {
    width: 20%; /* adjusted width so 4 images can fit in one row */
    height: auto;
    cursor: pointer; /* changes the cursor to a hand when hovering over the images */
    margin: 1%; /* added margin for some spacing */
  }
  

  
  