/* research-index.module.css */
.container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .header {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .searchBar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .searchInput {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .searchButton {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .line {
    width: 100%;
    border-top: 1px solid #000;
    margin-bottom: 20px;
  }
  
  .filterSortButtons {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 20px;
  }
  
  .filterSortButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
  }
  
  .table th,
  .table td {
    border: 1px solid #000;
    padding: 15px;
    font-size: 16px;
  }
  
  .table th {
    background-color: #000;
    color: #fff;
  }
  
  .link {
    color: blue;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
    
  .title {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .button {
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 5px;
    width: 100%;
  }
  